div{
    height: 300px;
    border: 1px solid black;
}
body{
    background-color: aliceblue;
}
.box1{
    background-color: aqua;
}
.box2{
    background-image: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80);
}
.box3{
    background-image: url("./img/png-clipart-deadpool-deadpool-laying.png");
    background-repeat: round;
    
}